* { box-sizing: border-box }

.container {
  margin: 0 auto;
  width: 70%;
  min-width: 800px;
  max-width: 1000px;
  background-color: #fff;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 18px;
  color: #666;
  border-left: 1px solid #D5D5D5;
  border-right: 1px solid #D5D5D5;
}

.name {
  font-size: 4em;
  line-height: 0.8em;
  text-align: center;
  color: #444444;
  margin: 0;
}

.slogan {
  text-align: center;
  margin: 0;
  color: #444444;
}

hr {
  width: 80%;
  margin: 0 auto;
}

h3 {
  font-weight: normal;
  margin: 0;
}

a {
  color: #DF4747;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #DF4747;
}

.center-img {
  margin: 0 auto;
  display: block;
}

.aboutme-h1 {
  text-align: center;
}

footer {
  margin-top: 40px;
  text-align: center;
}

#spacer {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  font-family: "Capriola", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 1.17em;
  font-weight: bold;
}

.small {
  width: 30%;
  margin-top: 2em;
  margin-bottom: 2em;
}

body {
  background: url("../img/pattern.png");
  margin: 0;
  padding: 0;
}

.blogish h1 {
  text-shadow: 1px 1px 0px #222;
}

.blogish p {
  text-align: left;
  padding: 0 14%;
  margin: 3% 5%;
  font-size: 1.1em;
  color: #222;
  line-height: 1.5em;
}

.content-container {
  float: left;
  width: 100%;
}

.content-container .section {
  width: 33.33%;
  padding: 1em;
  float: left;
}

.content-container .section h1 {
  text-align: left;
  font-size: 1.1em;
  color: #444;
  margin: 0 0 1em 0;
}

.content-container .section p {
  padding-left: 5px;
  border-left: 1px solid #DF4747;
  text-align: justify;
  font-size: 0.8em;
}

.intro {
  font-size: 1.2em;
  line-height: 1.3em;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
